<nav class="navbar navbar-expand bg-dark navbar-dark" style="width: 100%;">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{% url 'homepage' %}" class="nav-link active">Coding Tutorials</a>
            </li>
            <!-- Unauthenticated users have only GET permissions for the public part of the website -->
            {% if user.is_authenticated %}
                {% include 'partials/tutorials_notes_auth.html' %}
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'all tutorials' %}" class="nav-link">Tutorials</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="float-right">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                {% include 'partials/login_out.html' %}
            </ul>
        </div>
    </div>
</nav>