{% extends 'common/base.html' %}
{% block site_title %}
    Tutorials
{% endblock %}
{% block site_content %}
    {% if tutorials %}

        {% if is_user_tutorials_page %}
            <h1 class="text-center">{{ user.username }}'s Tutorials</h1>
        {% else %}
            <h1 class="text-center">All Tutorials</h1>
        {% endif %}

        {% include 'partials/display_tutorials.html' %}

    {% else %}
        {% if user.is_authenticated %}
            <div class="mt-5 text-center">
                <h1>There are no tutorials</h1>
                <a href="{% url 'create tutorial' %}" class="btn btn-success">Create a Tutorial</a>
            </div>
        {% else %}
            <div class="mt-5 text-center">
                <h1>There are no tutorials</h1>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}